# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*~

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes